$hero-height: 65vh;

.hero-section {
  background: url("../img/Attachment-1.jpeg") 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    font-family: "Roboto";
    text-shadow: 1px 1px 1px $black;
  }
}
