body {

  background-image: url('lowpoly-forest.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  margin: auto;
  padding: 3% 10%;
  height: 100%;
}

h1 {
  text-align: center;
  background-color: #808080;
  border: 2px solid black;
  opacity: 0.85;
  margin: 10% 20%;
  padding: 3% 7%;
}

.bodycontainer {
  background-color: #808080;
  border: 2px solid black;
  opacity: 0.85;
  margin: 10% 20%;
  padding: 3% 7%;

}

.bloglist {
  background-color: #808080;
  border: 2px solid black;
  opacity: 0.85;
  margin: 10% 20%;
  padding: 3% 7%;
}

a:link {
color: black;
background-color: transparent;
text-decoration: none;
}

a:visited {
  color: teal;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: teal;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline; 
}

header{
  width: 100%;
  margin: auto;
  top: 20px;
}

footer {
  width: 100%;
  margin-top: 10%;
  position: relative;
  text-align: center;
  top: 20px;
}
